@import url("@radix-ui/colors/gray.css");
@import url("@radix-ui/colors/gray-alpha.css");
@import url("@radix-ui/colors/gray-dark.css");
@import url("@radix-ui/colors/gray-dark-alpha.css");
@import url("@radix-ui/colors/blue.css");
@import url("@radix-ui/colors/blue-alpha.css");
@import url("@radix-ui/colors/blue-dark.css");
@import url("@radix-ui/colors/blue-dark-alpha.css");
@import url("@radix-ui/colors/green.css");
@import url("@radix-ui/colors/green-alpha.css");
@import url("@radix-ui/colors/green-dark.css");
@import url("@radix-ui/colors/green-dark-alpha.css");
@import url("@radix-ui/colors/red.css");
@import url("@radix-ui/colors/red-dark.css");
@import url("@radix-ui/colors/black-alpha.css");
@import url("@radix-ui/colors/white-alpha.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  * We are using the Radix UI Colors package to generate a set of color variables that can be used in the project.
  * @see: https://colors.radix-ui.com/
  */

  :root {
    /* Main theme variables that map to Tailwind config */
    --bg: var(--gray-1);
    --fg: var(--gray-12);
    --muted: var(--gray-3);
    --hover: var(--gray-4);
    --border: var(--gray-6);

    /* Scrollbar */
    --scrollbar-thumb: var(--gray-4);
    --scrollbar-track: transparent;

    /* Selection */
    --selection-background: var(--blue-3);
    /* --selection-foreground: var(--blue-11); */

    /* Keyboard shortcuts */
    --kbd-background: var(--gray-3);
    --kbd-foreground: var(--gray-11);
    --kbd-border: var(--gray-4);

    /* Highlight */
    /* --highlight-background: var(--blue-3); */
    /* --highlight-foreground: var(--blue-11); */

    /* Radius */
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;

    /* shadcn/ui variables */
    --background: var(--gray-1);
    --foreground: var(--gray-12);
    --card: var(--gray-1);
    --card-foreground: var(--gray-12);
    --popover: var(--gray-1);
    --popover-foreground: var(--gray-12);
    --primary: var(--blue-10);
    --primary-foreground: var(--blue-2);
    --secondary: var(--green-10);
    --secondary-foreground: var(--green-12);
    --muted-foreground: var(--gray-11);
    --accent: var(--gray-3);
    --accent-foreground: var(--gray-12);
    --destructive: var(--red-10);
    --destructive-foreground: var(--gray-2);
    --input: var(--gray-6);
    --ring: var(--gray-12);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  * {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    font-variant-ligatures: common-ligatures;
    text-wrap: pretty;
    text-rendering: optimizelegibility;
  }
}

/*
  ---break---
  */

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
